body {
  margin: 0; /* eliminate space between edge of browser and content */
  height: 100vh;
}

.header-link {
  color: white;
  font-size: 1.5em;
}

#header {
    color: #B7BBDA;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;

    max-width: 300px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;

    background-color: black;
}
