body {
  margin: 0; /* eliminate space between edge of browser and content */
  height: 100vh;

  /* display child elements side-by-side */
  display: flex;
  align-items: stretch;
}

.header-link {
  color: white;
  font-size: 1.5em;
}

h1 {
  color: #A1B1EB;
}

h2 {
  color: #535EAA;
}

#header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;

    width: 300px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;

    background-color: black;
}

.cards-container {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.card {
  display: flex;
  flex-direction: column;

  padding: 30px;
  min-width: 300px;
}

.card > p {
  color: dimgrey;
}

.card:hover {
  box-shadow: 2px 2px 15px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow .5s ease;
}

input, textarea {
  outline-color: #535EAA;
  border: none;
  padding: 10px;
}

input.input-title { /* user's input for name of new blog post */
  color: #535EAA;
  font-size: 1.3em;
  font-weight: bold;
}

textarea.input-content { /* user's input for blog post content */
  font-size: 1.3em;
  color: dimgrey;
}

button {
  font-size: 1.3em;
  padding: 10px;
  border: 2px solid #535EAA;
  color: #828aba;
  background-color: transparent;
  
  transition: background-color .5s ease;
}

button:hover {
  border: 3px solid #535EAA;
  background-color: #535EAA;
  color: white;

  cursor: pointer;
}
