:root {
  --padding-y: 15px;
}

body {
  margin: 0; /* eliminate space between edge of browser and content */
  height: 100vh;

  /* display child elements side-by-side */
  display: flex;
  align-items: stretch;

  font-family: verdana;
}

textarea {
  font-family: verdana;
}

.header-link {
  color: white;
  font-size: 1em;
}

h1 {
  color: #A1B1EB;
}

h2 {
  color: #535EAA;
  margin: 10px;
}

.stay { /* prevents div from moving while scrolling */
  position: sticky;
  top: 0;
}

#header {
  padding-bottom: var(--padding-y);
  padding-left: 30px;
  padding-right: 30px;

  min-width: 300px;
  max-width: 300px;
  height: calc(100% - var(--padding-y)); /* full height - padding */

  display: flex;
  flex-direction: column;
  justify-content:flex-start;

  background-color: black;
}

.content-container { /* body of page's main content */
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  padding-left: 30px;
  padding-right: 30px;

  height: calc(100% - calc(var(--padding-y) * 2));

  overflow-y: scroll;
  flex-grow: 1;
}

.content-container h1, /* webpage title */
.content-container p /* webpage content */
{
  margin-left: 30px; /* add extra padding to align with text inside cards */
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;

  padding: 30px;
  min-width: 300px;
}

.card p { /* text inside card */
  margin-left: 0;
}

.align-items-center {
  align-items: center;
}

.card > p {
  color: dimgrey;
}

.card:hover {
  box-shadow: 2px 2px 15px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow .5s ease;
}

input, textarea {
  /* outline-color: #535EAA; */
  outline: none;
  border: none;
  padding: 10px;
}

input:hover, textarea:hover {
  background-color: whitesmoke;
}

input.input-title { /* user's input for name of new blog post */
  color: #535EAA;
  font-size: 1.3em;
  font-weight: bold;
  font-family: verdana;
}

textarea {
  width: calc(100% - 20px);
}

textarea.input-content { /* user's input for blog post content */
  font-size: 1em;
  color: dimgrey;
}

button {
  font-size: 1.2em;
  padding: 10px;
  /* border: 2px solid #535EAA; */

  color: #535EAA;
  background-color: transparent;
  width: 100px;
  transition: background-color .4s ease, width .5s ease;

  border: none;
  border-bottom: 3px solid #535EAA;
}

button:hover {
  background-color: #535EAA;
  color: white;
  width: 100%;

  cursor: pointer;
}

.fixed-btn {
    min-width: 50px;
    max-width: 300px;
    width: 100%;
}

p {
  font-size: 1em;
  margin: 10px;
}

a {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  color: #535EAA;
  margin: 0;
}

a:hover, a:active {
  color: #A1B1EB;
}

.invalid-input-message {
  width: 100%;
  color: salmon;
  align-content: center;
}

.post-page { /* part of the post page containing post title, content, buttons */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

.post-title-container { /* contains date and title */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.post-content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
