<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <!-- can be reused for any page in app; includes sidebar and app's styling theme -->
    <div id="header" class="stay">
      <a href="{{ url_for('index') }}"><h1>Flask Blog</h1></a>
      <div class="header-link">
        <p>On Homepage:</p>
        <ul>
          <li>View all posts</li>
          <li>Create a post</li>
        </ul>

        <p>On any Post's page:</p>
        <ul>
          <p>View a specific post by clicking a post's title</p>
          <li>Edit the post's title or content</li>
          <li>Delete the post</li>
        </ul>

        <p>Notes:</p>
        <ul>
          <li>All posts will be seen by all users</li>
        </ul>
      </div>
    </div>

    <div class="content-container">
      {% block content %} {% endblock %}
    </div>

  </body>
</html>
