{% extends 'base.html' %}

{% block title %} Flask Blog {% endblock %}

{% block content %}
  <div class="cards-container">
    <h1>Posts</h1>
    <div class="card">
      <h2>Welcome</h2>
      <p>Post</p>
    </div>

    <!-- input form for creating a new post -->
    <form class="card" method="post">
      {% for message in get_flashed_messages() %}
          <div class="invalid-input-message">{{ message }}</div>
      {% endfor %}

      <!-- post title input -->
      <input name="title" class="input-title" placeholder="New Title"
        value="{{ request.form['title'] }}">
      </input>

      <!-- text content input -->
      <br/>
      <textarea name="content" class="input-content"
        rows="10" placeholder="New Post Content">{{ request.form['content'] }}</textarea>
      <br/>

      <button>Post</button>
    </form>

  </div>
{% endblock %}
